.layout {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrapper{
  background-color: #f6f4ebd2;
  border-radius: 30px;
  display: flex;
  flex-direction:column;
  max-width: 380px;
  min-height: 100%;
  border: 3px solid #1c521e;
}

.form_contents {
  padding: 30px;
}

.form_title {
  margin-bottom: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 550;
  color: #650124a2;
}

.input_wrapper {
  min-width: 308px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between
}

.button_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.button_submit {
  border-radius: 8px;
  border: 2px solid #1c521e;
  color: #211d1dd0;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color:#b72a3f62;
  min-width: 98px;
  min-height: 35px;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button_submit:hover {
  border-color: #650124a2;
}

.email_form,
.password_form {
  border-radius: 8px;
  border: 2px solid #1c521e;
  min-height: 35px;
}